numpy
wikipedia
openapi-python-client
opencv-contrib-python
pyaudio
boto3
websockets
requests

hsemotion
timm-0.6.11

types-playsound
types-boto3
types-pyaudio

types-PyYAML
types-Pygments
types-annoy
types-beautifulsoup4
types-colorama
types-commonmark
types-google-cloud-ndb
types-playsound
types-protobuf
types-pywin32
types-redis
types-regex
types-setuptools
types-tabulate
types-tqdm